<div class="position-relative">
    <h2 class="bg-primary text-white p-1 ps-3 fs-5 rounded-top m-0 position-relative" style="top: 10px;">Dados do fornecedor</h2>
</div>
<div class="fluig-style-guide w-100 border border-dark rounded-3 p-3 mb-2">
    <form class="w-100">
        <div class="row mx-2 my-4">
            <div class="col-md-8">
                <label for="razaoSocial" class="form-label">Razão Social</label>
                <input type="text" class="form-control border border-dark" id="razaoSocial">
            </div>
            <div class="col-md-4">
                <label for="cnpj" class="form-label">CNPJ</label>
                <input type="text" class="form-control border border-dark" id="cnpj">
            </div>
        </div>
        
        <div class="row mx-2 my-4">
            <div class="col-md-8">
                <label for="nomeFantasia" class="form-label">Nome Fantasia</label>
                <input type="text" class="form-control border border-dark" id="nomeFantasia">
            </div>
            <div class="col-md-4">
                <label for="inscricaoEstadual" class="form-label">Inscrição Estadual</label>
                <input type="text" class="form-control border border-dark" id="inscricaoEstadual">
            </div>
        </div>
    
        <div class="row mx-2 my-4">
            <div class="col-md-4">
                <label for="cep" class="form-label">CEP</label>
                <input  maxlength="8" type="text" class="form-control border border-dark" id="cep">
            </div>
            <div class="col-md-4 offset-md-4">
                <!-- Espaço vazio para alinhamento -->
                <label for="inscricaoMunicipal" class="form-label">Inscrição Municipal</label>
                <input type="text" class="form-control border border-dark" id="inscricaoMunicipal">
            </div>
        </div>
    
        <div class="row mx-2 my-4">
            <div class="col-md-8">
                <label for="endereco" class="form-label">Endereço</label>
                <input type="text" class="form-control border border-dark" id="endereco">
            </div>
            <div class="col-md-4">
                <label for="numero" class="form-label">Número</label>
                <input type="text" class="form-control border border-dark" id="numero">
            </div>
        </div>

        <div class="row mx-2 my-4">
            <div class="col-md">
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" class="form-control border border-dark" id="complemento">
            </div>
        </div>
        
        <div class="row mx-2 my-4">
            <div class="col-md-4">
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" class="form-control border border-dark" id="bairro">
            </div>
            <div class="col-md-5">
                <label for="municipio" class="form-label">Municipio</label>
                <input type="text" class="form-control border border-dark" id="municipio">
            </div>
            <div class="col-md-3">
                <label for="estado" class="form-label">Estado</label>
                <input type="text" class="form-control border border-dark" id="estado">
            </div>
        </div>
        
        <div class="row mx-2 my-4">
            <div class="col-md-6">
                <label for="nomePessoaContato" class="form-label">Nome da pessoa de contato</label>
                <input type="text" class="form-control border border-dark" id="nomePessoaContato">
            </div>
            <div class="col-md-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" class="form-control border border-dark" id="telefone">
            </div>
            <div class="col-md-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="text" class="form-control border border-dark" id="email">
            </div>
        </div>
    </form>            
</div>


<!-- <script src="../js/fornecedor.js"></script> -->